* {
  margin: 0;
  padding: 0;
}
#nav-block {
  width: 100%;
  padding: 0 50px 0 12px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
@media screen and (max-width: 768px) {
  #nav-block {
    padding: 0;
  }
}
.navbar-brand {
  background: transparent;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.nav li a:hover,
.nav li a:focus {
  text-decoration: none;
  background-color: transparent;
}
#search-nav {
  float: left;
  border: 1px solid #23527C;
  margin: 10px 0 10px 10px;
}
#search-nav input,
#search-nav button {
  background-color: transparent;
  height: 30px;
  border: none;
  line-height: normal;
  outline: 0;
  color: #23527C;
}
#search-nav input {
  padding-left: 8px;
}
#search-nav button {
  padding: 0 10px;
}
